<!-- CONTACT START  -->
<section class="contact-section">
    <div class="contact-container">
        <div class="contact-left" data-aos="fade-right">
            <h2>CONTACT</h2>
            <h4>Get In Touch Today!</h4>
            <h3>+977 9800000000</h3>
            <div class="more-info">
                <p>Himalayan Building 1st Floor</p>
                <p>Samakhusi Marg, Kathmandu</p>
                <p>goodmilconstruction@gmail.com</p>
            </div>
        </div>
        <div class="contact-form" data-aos="fade-left">
            <form action="/contact" method="post">
                <input type="text" name="name" id="name" placeholder="Your name*" required>
                <input type="email" name="email" placeholder="Your email*" required>
                <input type="text" name="subject" id="subject" placeholder="Subject*" required>
                <input type="hidden" name="preferredCommunication" id="preferredCommunication" value="email">
                <textarea name="message" id="message" placeholder="Your message*" cols="20" rows="10"></textarea>
                <button type="submit">SEND <i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</section>
<!-- CONTACT END  -->