<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/logo.png" type="image/jpg">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://kit.fontawesome.com/73c17b3c10.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Change Password | Fitness Club</title>
</head>
<body>

    <!-- PRELOADER START -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- PRELOADER END -->

    <%- include('partials/header', { activePage: '', authenticated: authenticated }) %>

    <!-- CONTACT START  -->
    <section class="contact-section" id="add-margin">
        <div class="login-form">
            <form action="/passwordchange" method="post" novalidate>
                <h1>Change Your Password</h1>
                <input type="hidden" name="csrfmiddlewaretoken" value="igqf2goDO208WCBqQJF9cBz1gswQjTynixkvjAUSAXa7axs1RnlHP2TDl6fYYeWt">
                
                <i style="color: red;font-style: normal;"></i> <label for="id_old_password">Current password:</label>
                 <input type="password" name="currentPassword" autocomplete="current-password" autofocus required id="id_old_password">
                
                <i style="color: red;font-style: normal;"></i> <label for="id_new_password1">New password:</label>
                 <input type="password" name="newPassword" autocomplete="new-password" required id="id_new_password1">
                
                <i style="color: red;font-style: normal;"></i> <label for="id_new_password2">New password confirmation:</label>
                 <input type="password" name="confirmNewPassword" autocomplete="new-password" required id="id_new_password2">
                
    
                <div class="buttons">
                    <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
                    <button type="submit" class="signupbtn">Change Password</button>
                </div>
                
            </form>
        </div>
    </section>
    <!-- CONTACT END  -->

    <%- include('partials/footer', { activePage: '' }) %>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>