<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/logo.png" type="image/jpg">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/trainers.css">
    <script src="https://kit.fontawesome.com/73c17b3c10.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Our Trainers | Fitness Club</title>
</head>
<body>

    <!-- PRELOADER START -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- PRELOADER END -->

    <%- include('partials/header', { activePage: 'trainers' }) %>

    <!-- PAGE MAIN IMAGE START  -->
    <section class="page-image" id="add-margin">
        <div class="page-image-container">
            <h1>OUR TRAINERS</h1>
            <div class="page-location">
                <a href="/"><i class="fa-solid fa-house"></i></a>&nbsp; // OUR TRAINERS
            </div>
        </div>
    </section>
    <!-- PAGE MAIN IMAGE END  -->

    <!-- TRAINER START  -->
    <section class="trainers">
        <div class="trainers-container">
            <div class="trainer-header">
                <h3>Our Trainers</h3>
                <p><span></span> <i class="fa-solid fa-dumbbell"></i> <span></span></p>
                <p>Our trainers are more than just experts in exercise; they are passionate about helping you achieve your health and fitness goals. Our trainers are equipped to tailor workout programs to meet your unique needs.</p>
            </div>
            <div class="trainer__grid" data-aos="zoom-out" data-aos-offset="50">
                <div class="trainer__card">
                    <img src="img/trainer-1.jpg" alt="trainer" />
                </div>
                <div class="trainer__card">
                    <div class="trainer__content">
                    <h4>James Rodriguez</h4>
                    <h5>Strength and Conditioning</h5>
                    <hr />
                    <p>
                        With a background in competitive sports, he's dedicated to helping
                        you reach your peak physical performance.
                    </p>
                    <div class="trainer__socials">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-google-fill"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </div>
                    </div>
                </div>
                <div class="trainer__card">
                    <img src="img/trainer-2.jpg" alt="trainer" />
                </div>
                <div class="trainer__card">
                    <div class="trainer__content">
                    <h4>Mark Harris</h4>
                    <h5>HIIT and Functional</h5>
                    <hr />
                    <p>
                        His energetic and dynamic workouts are designed to push your
                        limits, boost metabolism, and torch calories.
                    </p>
                    <div class="trainer__socials">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-google-fill"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </div>
                    </div>
                </div>
                <div class="trainer__card">
                    <img src="img/trainer-3.jpg" alt="trainer" />
                </div>
                <div class="trainer__card">
                    <div class="trainer__content">
                    <h4>Emily Davis</h4>
                    <h5>Yoga and Mindfulness</h5>
                    <hr />
                    <p>
                        Emily's sessions are about physical postures and also about
                        cultivating inner peace and mindfulness.
                    </p>
                    <div class="trainer__socials">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-google-fill"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </div>
                    </div>
                </div>
                <div class="trainer__card">
                    <img src="img/trainer-5.jpg" alt="trainer" />
                </div>
                <div class="trainer__card">
                    <div class="trainer__content">
                    <h4>Sarah Johnson</h4>
                    <h5>Cardio and Endurance</h5>
                    <hr />
                    <p>
                        As a seasoned athlete, Sarah brings expertise in cardio workouts to enhance your endurance and overall fitness.
                    </p>
                    <div class="trainer__socials">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-google-fill"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </div>
                    </div>
                </div>
                <div class="trainer__card">
                    <img src="img/trainer-4.jpg" alt="trainer" />
                </div>
                <div class="trainer__card">
                    <div class="trainer__content">
                    <h4>Michael Anderson</h4>
                    <h5>Strength Training</h5>
                    <hr />
                    <p>
                        With a focus on strength and conditioning, Michael's workouts are designed to build muscle and improve overall strength.
                    </p>
                    <div class="trainer__socials">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-google-fill"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </div>
                    </div>
                </div>
                <div class="trainer__card">
                    <img src="img/trainer-6.jpg" alt="trainer" />
                </div>
                <div class="trainer__card">
                    <div class="trainer__content">
                    <h4>Alexandra Davis</h4>
                    <h5>Pilates and Flexibility</h5>
                    <hr />
                    <p>
                        Alexandra's sessions focus on Pilates and flexibility, combining strength and flexibility exercises for a balanced fitness routine.
                    </p>
                    <div class="trainer__socials">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-google-fill"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TRAINER END  -->

    <%- include('partials/contact') %>

    <%- include('partials/footer', { activePage: 'trainers' }) %>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        $(document).ready(function(){
            function visible(partial) {
            var $t = partial,
                $w = jQuery(window),
                viewTop = $w.scrollTop(),
                viewBottom = viewTop + $w.height(),
                _top = $t.offset().top,
                _bottom = _top + $t.height(),
                compareTop = partial === true ? _bottom : _top,
                compareBottom = partial === true ? _top : _bottom;

            return ((compareBottom <= viewBottom) && (compareTop >= viewTop) && $t.is(':visible'));

        }
        $(window).scroll(function(){

            if(visible($('.count-digit')))
              {
                  if($('.count-digit').hasClass('counter-loaded')) return;
                  $('.count-digit').addClass('counter-loaded');
                
                  $('.count-digit').each(function () {
                  var $this = $(this);
                  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
                      duration: 2000,
                      easing: 'swing',
                      step: function () {
                      $this.text(Math.ceil(this.Counter));
                      }
                  });
                  });
              }
          })
        })
    </script>
</body>
</html>